<div class="navbar h-100 w-10">
  <!--@if(isNavbarExtended){ -->
  <!-- Extended navbar -->
  <div class="d-flex flex-column h-100 w-100">
    <button class="extend_button" (click)="onNavbarBtnClick()">
      <hr />
      <hr />
      <hr />
    </button>
    @if(isNavbarExtended){ @for (link of links; track $index){
    <p
      class="p-2 navlink"
      [routerLinkActive]="'route_active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="link[1]"
    >
      {{ link[0] }}
    </p>
    } }

    <span class="flex-grow-1"></span>
  </div>
  <!-- } @else { -->
  <!-- Collasped navbar -->
  <!-- <div class="w-100 h-100 f-flex">
    <button class="extend_button" (click)="onNavbarBtnClick()">
      <hr />
      <hr />
      <hr />
    </button>
    <span class="flex-grow-1"></span>
  </div> -->
  <!-- } -->
</div>
