<div class="navbar h-100 w-10">
  <div class="d-flex flex-column h-100 w-100">
    <button class="extend_button" (click)="onNavbarBtnClick()">
      <hr />
      <hr />
      <hr />
    </button>
    @if(isNavbarExtended){
    <p
      class="p-2 navlink"
      [routerLinkActive]="'route_active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="''"
      (click)="onNavbarBtnClick()"
    >
      Home
    </p>
    @if(this.user != null){ @for (link of links; track $index){
    <p
      class="p-2 navlink"
      [routerLinkActive]="'route_active'"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="link[1]"
      (click)="onNavbarBtnClick()"
    >
      {{ link[0] }}
    </p>
    } } }

    <span class="flex-grow-1"></span>
  </div>
</div>
