<div class="navbar h-100 w-10">
  @if(isNavbarExtended){
  <!-- Extended navbar -->
  <div class="d-flex flex-column h-100">
    <p class="p-2 navlink" routerLink="">Home</p>
    <p class="p-2 navlink">Interval Stats</p>
    <p class="p-2 navlink">Pages</p>
    <p class="p-2 navlink">Here</p>
    <p class="p-2 navlink">Like</p>
    <p class="p-2 navlink">This</p>
    <p class="p-2 navlink">Settings</p>
    <span class="flex-grow-1"></span>
  </div>
  } @else {
  <!-- Collasped navbar -->
  <div>
    <p>collasped</p>
  </div>
  }
</div>
