<!-- Only show the title-bar if the user is not logged in -->
<div *ngIf="!userLoggedIn" class="titlebar d-flex">
  <p class="title">Lifting Buddy</p>
  <a class="item" [routerLink]="['/login-page']">Login</a>
  <a class="item" [routerLink]="['/register-page']">Register</a>
</div>

<!-- Show the logged-in navbar if the user is logged in -->
<div *ngIf="userLoggedIn" class="titlebar d-flex">
  <p class="title">Lifting Buddy</p>
  @if(auth.currentUser && auth.currentUser.email){
  <p class="title">Welcome, {{ auth.currentUser.email.split("@")[0] }}</p>
  }
</div>

<!-- Your other page content -->
<router-outlet></router-outlet>
