.page {
  padding: 2em;
  background-color: #1b1a55;
  max-height: fit-content;
  min-height: 100dvh;
}

.page > p {
  color: #f0f0f0;
}

.exercisetable * {
  color: #f0f0f0;
  margin: 1em;
}

.etable {
  background-color: #2f2f2f;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border-radius: 1em;
  border-top-right-radius: 2em;
  width: 85%;
  height: fit-content;
  border: 2px solid #535c91;
}

.exercisetable {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(3em, auto);
  width: inherit;
  height: inherit;
}

.exercisetable td {
  border-left: 1px solid #535c91;
  padding-left: 0.2em;
  border-top: 1px solid #535c91;
}

.date {
  font-size: 1.25em;
  color: #f0f0f0;
  font-weight: 600;
}

.datebar {
  display: flex;
  justify-content: space-between;
  min-width: fit-content;
  max-width: 45%;
  width: 45%;
}

.todaybtn {
  margin-left: 17em;
  background-color: #535c91;
  border: 2px solid #070f2b;
  color: #f0f0f0;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.todaybtn:hover {
  scale: 105%;
}

.holder {
  display: flex;
  justify-content: space-between;
}

.btncontainer {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.addworkout {
  margin: 1em 0 0 0;
  padding: 0.5em;
  background-color: dimgray;
  border: 1px solid grey;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  align-self: flex-end;
  justify-self: end;
}
