<div class="page">
  @if(addingWorkout){
  <app-addworkout (close)="toggleMenu()" [selectedDate]="selectedDate" />
  }
  <div>
    <div class="datebar">
      <p class="date">Date: {{ selectedDate | date : "mediumDate" }}</p>
      <button class="todaybtn" (click)="setDateToday()">Today</button>
    </div>
    <div class="holder">
      <app-calendar
        (selectedDayChange)="changeDate($event)"
        [(selectedDay)]="selectedDate"
        [exerciseData]="dataMap"
      ></app-calendar>
    </div>
    <div class="btncontainer">
      <button class="addworkout" (click)="addingWorkout = true">
        Add Workout
      </button>
    </div>
  </div>
  <!-- @if(isLoadingData){
  <h3 class="loadingtext">Loading Data</h3>
  } -->
  <div class="etable">
    <table class="exercisetable">
      <thead>
        <th>Exercise Name</th>
        <th>Muscle Group</th>
        <th>Sets</th>
        <th>Volume</th>
      </thead>

      @for(exerciseSet of setsOfCurrentDay(); track exerciseSet){
      <tr>
        <td>{{ exerciseSet.exercise.name }}</td>
        <td>{{ getNameOfMuscleGroup(exerciseSet.exercise.muscleGroup) }}</td>
        <td>
          @for( set of exerciseSet.sets; track set){
          <div class="setsCell">
            Reps: {{ set.numOfReps }}, Weight
            {{ set.weight | weightUnit : userUnits }}
          </div>
          }
        </td>
        <td>{{ exerciseSet.totalVolume | weightUnit : userUnits }}</td>
        <td>
          <button class="deletebtn" (click)="deleteWorkout(exerciseSet)">
            Delete
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td>No exercises for this day.</td>
      </tr>
      }
    </table>
  </div>
</div>
