<div class="w-100 min-vh-100 page">
  <h1>Muscle Group Progress</h1>

  <div class="date-picker-container">
    <!-- Start Date -->
    <div class="date-picker">
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="startDate" />
    </div>

    <!-- End Date -->
    <div class="date-picker">
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="endDate" />
    </div>

     <button (click)="retrieveStatistics()" class="btn btn-primary">
    Load Muscle Groups
  </button>
  </div>

  <br /><br />

  <div class="date-picker">
    <label for="muscle-select">Muscle Group:</label>
    <select id="muscle-select" class="muscle-dropdown" (change)="onMuscleGroupChange($event)">
      <option *ngFor="let muscle of muscleGroups" [value]="muscle.value">
        {{ muscle.label }}
      </option>
    </select>
  </div>

  <br /><br />

  <!-- Chart Section -->
  <div class="chart-container">
    <canvas #myChartCanvas></canvas>
  </div>
</div>