<h1 class="text-center mb-5">Progress Report</h1>
@if(isLoaded == true) {
<table class="table-bordered table-striped table-hover mt-3">
  <thead>
    <tr>
      <th>Muscle Group</th>
      <th>First Interval Volume</th>
      <th>Last Interval Volume</th>
      <th>Max Volume</th>
      <th>Min Volume</th>
    </tr>
  </thead>
  <tbody>
    @for (item of intervalProgressMap.entries(); track item[0]) {
    <tr>
      <td>{{ getMuscleGroupName(item[0]) }}</td>
      <td>{{ item[1].volumeFirstInterval |  weightUnit:usinglbs}}</td>
      <td>{{ item[1].volumeLastInterval |  weightUnit:usinglbs}}</td>
      <td>{{ item[1].volumeMax | weightUnit:usinglbs}}</td>
      <td>{{ item[1].volumeMin | weightUnit:usinglbs}}</td>
    </tr>
    }
  </tbody>
</table>
}
@else 
{
  <p class="text-center">Loading</p>
}
