<h2 class="text-center">Total Volume Performed for Muscle Group</h2>
@if (isLoaded) {
<div class="d-flex justify-content-center">
  <table class="table-bordered table-striped table-hover mt-3 mb-3">
    <thead>
      <tr>
        <th>Muscle Group</th>
        <th>Volume Worked</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Chest</td>
        <td>{{ chestVolume | weightUnit:usinglbs }}</td>
      </tr>
      <tr>
        <td>Back</td>
        <td>{{ backVolume | weightUnit:usinglbs }}</td>
      </tr>
      <tr>
        <td>Biceps</td>
        <td>{{ bicepsVolume | weightUnit:usinglbs}}</td>
      </tr>
      <tr>
        <td>Tricpes</td>
        <td>{{ tricepsVolume | weightUnit:usinglbs}}</td>
      </tr>
      <tr>
        <td>Glutes/Quads</td>
        <td>{{ glutesQuadsVolume | weightUnit:usinglbs}}</td>
      </tr>
      <tr>
        <td>Hamstrings/Calves</td>
        <td>{{ hamstringsCalvesVolume | weightUnit:usinglbs}}</td>
      </tr>
    </tbody>
  </table>
</div>
}
@else 
{
  <p class="text-center">Loading</p>
}
