<h1>Total Volume Performed for Muscle Group</h1>
<table>
  <thead>
    <tr>
      <th>Muscle Group</th>
      <th>Volume Worked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chest: {{ chestVolume }}</td>
    </tr>
    <tr>
      <td>Back: {{ backVolume }}</td>
    </tr>
    <tr>
      <td>Biceps: {{ bicepsVolume }}</td>
    </tr>
    <tr>
      <td>Tricpes: {{ tricepsVolume }}</td>
    </tr>
    <tr>
      <td>Glutes/Quads: {{ glutesQuadsVolume }}</td>
    </tr>
    <tr>
      <td>Hamstrings/Calves: {{ hamstringsCalvesVolume }}</td>
    </tr>
  </tbody>
</table>
