<div class="w-100 min-vh-100 page">
  <h1>Exercise Progress</h1>

  <div class="date-picker-container">
    <div class="date-picker">
      <label for="exercise-start-date">Start Date:</label>
      <input type="date" id="exercise-start-date" name="startDate" />
    </div>

    <div class="date-picker">
      <label for="exercise-end-date">End Date:</label>
      <input type="date" id="exercise-end-date" name="endDate" />
    </div>

    <button (click)="retrieveExerciseStatistics()" class="btn btn-primary">
      Load Exercises
    </button>
  </div>

  <br /><br />

  <div class="date-picker">
    <label for="exercise-select">Exercise:</label>
    <select
      id="exercise-select"
      class="exercise-dropdown"
      (change)="onExerciseChange($event)">
      <option *ngFor="let exercise of exercises" [value]="exercise.id">
        {{ exercise.name }}
      </option>
    </select>
  </div>

  <br /><br />

  <div class="chart-container">
    <canvas #exerciseChartCanvas></canvas>
  </div>
</div>