/* You can add global styles to this file, and also import other style files */
/* 
Colors:

Very Dark purp      #070F2B
Dark purp           #1B1A55
purp                #535C91
light purp          #9290C3

white: #F0F0F0

colors for muscle groups:

Chest: red
Back: blue
Biceps: yellow
Triceps: cyan
Glutes/Quads: purple
Hamstrings/Calves: orange

*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
