<div class="w-100 page">
  <div class="container py-5">
    <div class="text-center mb-5">
      <h1 class="display-4">Lifting Buddy</h1>
      <p class="lead">Your Digital Workout Companion</p>
    </div>

    <div class="mb-5">
      <h2>What is Lifting Buddy?</h2>
      <p>
        Lifting Buddy is a web-based tool designed to help weightlifters
        schedule and track their workouts with ease. Whether you're a beginner
        or experienced lifter, our platform makes logging and analyzing your
        training more intuitive and effective.
      </p>
    </div>

    <div class="mb-5">
      <h2>Features</h2>
      <ul>
        <li>Plan daily exercises with targeted muscle groups.</li>
        <li>Add custom exercises and log sets with reps and weight.</li>
        <li>
          Automatically calculate volume for each exercise and muscle group.
        </li>
        <li>View detailed statistics for any time interval.</li>
        <li>Compare progress across different time periods.</li>
        <li>Track progress for any muscle group or workout.</li>
      </ul>
    </div>

    <div class="mb-5">
      <h2>Why Use Lifting Buddy?</h2>
      <p>
        Logging your workouts manually is tedious. Lifting Buddy provides a
        clean, centralized way to track and visualize your progress. See which
        muscles you're hitting the most, where you're lagging, and how you’re
        improving over time. Stay motivated and optimize your routine with data
        that matters.
      </p>
    </div>

    <h2>How Does Lifting Buddy Track Progress?</h2>
    <p>
      Lifting buddy tracks progress using statistics based off the total volume
      worked per muscle group or exercise. The volume for a set is not simply
      the number of reps multiplied by the weight. It is weighted using an
      effort factor that increases the volume for fewer reps.
    </p>
    <table class="mb-5">
      <tr>
        <th>Reps per Set</th>
        <th>Effort Factor</th>
      </tr>
      <tr>
        <td>1-3</td>
        <td>2.0</td>
      </tr>
      <tr>
        <td>4-6</td>
        <td>1.5</td>
      </tr>
      <tr>
        <td>7-10</td>
        <td>1.2</td>
      </tr>
      <tr>
        <td>11-15</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>16+</td>
        <td>0.8</td>
      </tr>
    </table>

    <div class="mb-5">
      <h2>Start Tracking Today</h2>
      <p>
        Join other lifters who are taking control of their fitness journey. Sign
        up or log in to start tracking your workouts and transforming your
        training insights.
      </p>
    </div>
  </div>
</div>
