<div #calendar class="calendar">
  <p class="dayheader">Sun</p>
  <p class="dayheader">Mon</p>
  <p class="dayheader">Tues</p>
  <p class="dayheader">Wed</p>
  <p class="dayheader">Thrus</p>
  <p class="dayheader">Fri</p>
  <p class="dayheader">Sat</p>

  @for (day of calendarDates; track $index) {
  <p
    class="daycell"
    (click)="setSelectedDay(day)"
    [class.selected]="isSelectedDate(day)"
  >
    <span
      [class.daycellcolor]="isExerciseOnDate(day)"
      [style.color]="getMuscleGroupColor(day)"
    >
      {{ day.getDate() }}
    </span>
  </p>
  }
</div>
