.page {
  background-color: #070f2b;
  padding: 1em;
}

.calendar {
  border: 4px solid #535c91;
  border-radius: 0.5em;
  max-width: 45%;
  width: auto;
  min-width: fit-content;
  /* padding: 0em 1em 1em 1em; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(3em, auto);
  /* gap: 0.7em; */
  max-height: 45vh;
  overflow-y: auto;
  /* background-color: #1b1a55; */
  background-image: linear-gradient(to bottom right, #9290c3, #070f2b);
}

.dayheader {
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: #070f2b;
  color: #9290c3;
}

.daycell {
  text-align: center;
  padding: 1em;
  aspect-ratio: 1 / 1;
  color: #f0f0f0;
  align-items: center;
  justify-content: center;
}
